html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #2B2733;
  font-family: "Montserrat";
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  background: #46424D;
  color: #FFF;
  text-align: center;
  width: 100%;
  height: 10%;
}

.page-header {
  width: 100%;
  margin: auto;
  font-weight: 300;
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 5px;
  color: #CBC9CF;
  height: 90%;
  width: 100%;
}

.section-header {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 15px;
  margin-left: 3%;
}

.activities-section {
  display: grid;
  grid-column: 1;
  grid-template-rows: 15% 5% 20% 1fr 10%;
  background: #46424D;
  color: #CBC9CF;
  margin-left: 3%;
  box-shadow: 5px 10px #26222D;
  height: 100%;
  width: 93%;
}

h4 {
  display: flex;
  flex-direction: column-reverse;
  grid-row: 1;
  font-size: 18px;
  font-weight: 400;
  margin-left: 12%;
}

.button-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-row: 3;
  height: 100%;
  width: 100%;
}

.study-button, .meditate-button, .exercise-button {
  background: #46424D;
  border: 1px solid white;
  border-radius: 5%;
  color: #CBC9CF;
  font-size: 26px;
  height: 2.8em;
  width: 6em;
}

#study-icon, #meditate-icon, #exercise-icon {
  height: .9em;
  width: 1em;
}

form {
  display: grid;
  grid-row: 4;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 1em;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  width: 70%;
}

.input-goal, .input-minutes, .input-seconds {
  font-size: 18px;
}

.input-goal {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
  grid-row: 1;
}

.input-minutes {
  grid-column: 1;
  grid-row: 2;
}

.input-seconds {
  grid-column: 2 / 4;
  grid-row: 2;
}

#input-goal-text, #input-minutes-text, #input-seconds-text {
  background: #46424D;
  border: none;
  border-bottom: #FFF solid 1px;
  color: #FFF;
  outline: none;
}

#input-goal-text {
  width: 100%;
}

#input-minutes-text, #input-seconds-text {
  margin-bottom: 1em;
  width: 100%;
}

.start-activity-button {
  grid-column: 3;
  background: #FFF;
  border-radius: 8%;
  color: #46424D;
  font-size: 15px;
  height: 2.5em;
  width: 110%;
}

.past-activities-section {
  display: flex;
  flex-direction: column;
  background: #2B2733;
  height: 100%;
}

.empty-cards-textbox {
  justify-content: center;
  font-size: 15px;
  margin: 7% auto;
  text-align: center;
  height: 10%;
  width: 80%;
}
